@import '~normalize.css';
@import 'font-icon.css';

.container {
  width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (max-width: 1280px) {
  
  .container {
    width: 100%;
  }

}