.search-form {
  display: flex;
  width: 70%;
  &__select {
    width: 3.5rem;
    border: none;
    border-right: 1px solid rgba(18, 18, 18, .6);
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    cursor: pointer;
    &_hidden{
      display: none;
    }
  }

  &__search {
    border: none;
    outline: none;
    width: 80%;
    background-color: white;
    padding: 7px 5px;
  }
  &__submit {
    width: 3.7rem;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: white;
    cursor: pointer;
    position: relative;
    span {
      position: absolute;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
    }
  }
}