@import '../../../sass/variables.scss';

.search-form {
  position: relative;
  display: flex;
  box-sizing: content-box;
  width: 60vw;
  &__select {
    min-width: 4rem;
    border: none;
    border-right: 1px solid rgba(18, 18, 18, .6);
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &_hidden{
      display: none;
    }
    &-item {
      font-size: 1rem;
      margin: 0;
    }
  }

  &__search {
    border: none;
    outline: none;
    width: 100%;
    background-color: white;
    padding: 7px 5px;
  }
  &__submit {
    width: 3.7rem;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: white;
    cursor: pointer;
    position: relative;
    span {
      position: absolute;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.select {
  position: absolute;
  background-color: $cart-bg;
  top: 2rem;
  display: block;
  z-index: 5;
  &_hidden {
    display: none;
  }
  &__item {
    font-size: 1.1rem;
    color: rgb(244, 243, 243);
    padding: 1rem 5rem 1rem 1rem;
    cursor: pointer;
    span {
      margin-right: 10px;
    }
    &_selected {
      color: rgb(221, 30, 30);
    }
    &:hover {
      background-color: $hover-color;
    }
  }
}