.form {
  display: flex;
  width: 30%;
  &__search {
    border: none;
    border-radius: 3px;
    outline: none;
    width: 80%;
    background-color: white;
  }
  &__submit {
    width: 2rem;
    padding: 3px 5px;
    border: none;
    background-color: white;
    left: 2px;
  }
}