@import '../../../sass/mixins.scss';

.header {
  background: #184de1;
  padding: 10px 0;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    @include header-blocks;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all ease-in-out .2s;
    img {
      width: 3rem;
    }
    &:hover{
      filter: opacity(.8);
    }
  }

  &__menu {
    @include header-blocks;
    cursor: pointer;
    font-size: 1.3rem;
  }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.3rem;
    width: 1.7rem;
  }

  &__element {
    width: 100%;
    height: 2px;
    background-color: white;
  }
}